<div class ="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4">
    <form>
        <div class = "form-group">
            <label for = "email">Email</label>
            <input id = "email" type="email" ng-model="email" placeholder="Email" ng-keypress="clear()" class = "form-control"/>

        </div>
        <div class = "form-group">
            <label for = "password">Password</label>
            <input id = "password" type="password" ng-model="pass" placeholder="Password" ng-keypress="clear()" class = "form-control"/>

        </div>

        <div ng-cloak ng-show="createMode"class = "form-group">
            <label for = "confirm">Confirm Password</label>
            <input id = "confirm" type="password" ng-model="confirm" placeholder="Password" ng-keypress="clear()" class = "form-control"/>

        </div>
        <button type = "submit" class="btn btn-default" ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
        <button type = "submit" class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
        <button type = "submit" class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
        <button type = "submit" class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
    </form>
            </div>
        </div>
</div>
